.value {
    position: absolute;
    right: 32px;
    bottom: 35px;
    display: flex;
    direction: row;
    justify-content: space-between;
    color: white;
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 60px;
}

.type {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 140px;
    height: 140px;
    fill: white;
}