.value {
    position: absolute;
    right: 32px;
    bottom: 32px;
    display: flex;
    direction: row;
    justify-content: space-between;
    color: white;
    border: 3px solid white;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 32px;
}