.diceSelector {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    font-size: 32px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 80%;
}

.select {
    appearance: none;
    font: inherit;
    background: transparent;
    color: white;
    border-radius: 20px;
    border: 2px solid white;
    padding-left: 10px;
    padding-right: 30px;
    text-align: center;
    margin: 5px 10px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 4px;
}
.option {
    text-align: center;
    text-justify: center;
    background: rgba(0, 0, 0, 0.8);
}