.value {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60px;
    display: flex;
    direction: row;
    justify-content: space-between;
    color: white;
}